/* Pinyon Script */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pinyon+Script&family=The+Nautigal:wght@400;700&display=swap');
/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pinyon+Script&family=The+Nautigal:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  color: #f5f0eb;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}

h1 {
  font-family: 'Pinyon Script', cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #f5f0eb;
  letter-spacing: 2px;
}